//Intro section including Header, Summary, Preamble
//Header with Logo image and text(h1)
header h1 {
  background: transparent;
  width: 155px;
  height: 130px;
  @include margin-padding(-155px auto 40px auto, 80px 30px 0px 30px);
  vertical-align: middle;
  @include background-img (url(images/logo.png),
  no-repeat,
  225px,
  225px,
  center,
  center,
  0);
  @include breakpoint(small) {
    transform: translateX(-100px);
    width: 255px;
    height: 230px;
    margin-top: -180px;
    @include background-img (url(images/logo_blue.png),
    no-repeat,
    300px,
    300px,
    center,
    center,
    0);
  }
}
//title (h2) for .summary/Beauty of CSS card
header h2 {
  @include box-shadow;
  @include margin-padding(auto, 50px 90px 5px 25px);
  @include pin;
  background-color: $color-6;
  color: $color-2;
  font-size: $font-size-medium;
  line-height: 1.2rem;
  width: 135px;

  @include breakpoint(small) {
    left: 220px;
    position: absolute;
  }

  @include breakpoint(medium) {
    right: -395px;
    top: 70px;
    z-index: 10;
  }

  @include breakpoint(large) {
    right: -380px;
  }
}

//"Beauty of CSS" card--white card with flower image (Title=header h2)
.summary {
  @include margin-padding(0 auto 20px auto, 0 25px 160px 25px);
  @include box-shadow;
  @include background-img (url('images/flower-combo.png'),
  no-repeat,
  370px,
  370px,
  right -180px,
  bottom -150px,
  .8em);

  width: 200px;

  & p {
    width: 175px;
    line-height: 1.3rem;
  }

  @include breakpoint(small) {
    position: absolute;
    top: 260px;
    left: 440px;
  }

  @include breakpoint(medium) {
    top: 160px;
    left: 560px;
    z-index: 10;
  }

  @include breakpoint(large) {
    left: 552px;
  }
}

//"The Road to Enlightenment card" --dark brown card with white text
.preamble {
  @include center(85%);
  @include margin-padding(0 0 20px 0, 30px);
  background-color: $color-2;
  color: $color-6;
  transform: rotate(-1deg);
  @include box-shadow;
  @include pin;
  text-align: center;
  &.preamble h3 {
    font-size: $font-size-medium;
  }
  &.preamble p {
    font-size: $font-size-small;
  }
  @include breakpoint(small) {
    @include center (75%);
    margin-top: 150px;
    transform: rotate(-4deg);
  }
  @include breakpoint(medium) {
    margin: 110px 0 0 0;
  }
}
