//main section includng Explanation, Participation, Benefits, Requirements, and Content Info

//"So What Is This About?"card--pink card with white text
.explanation {
    @include center(75%);
    transform: rotate(1deg);
    @include box-shadow;
    background-color: $color-4;
    @include pin;
    @include font-size($font-size-small);
    @include margin-padding(0 0 20px 0, 30px);
    & h3 {
      margin-top: 20px;
      text-align: center;
      @include font-size($font-size-small);
    }
    @include breakpoint (small) {
      & h3 {
        @include font-size($font-size-medium);
      }
    }
    @include breakpoint (medium) {
      position: absolute;
      top: 150px;
      right: 50px;
      max-width: 300px;
    }
}
//"Participation"card --cream card with brown text and red floral
.participation {
    @include center(100%);
    margin-bottom: 30px;
    @include box-shadow;
    border: 20px outset #4b5548;
    background-color: $color-3;
    & h3 {
      @include margin-padding(40px 0 0 0, 10px);
      @include font-size($font-size-medium);
      text-align: right;
    }
    & p {
      @include font-size($font-size-small);
      line-height: 1.2rem;
      text-align: right;
      @include margin-padding(0 0 0 20px, 5px 20px);
    }
    @include breakpoint(small) {
      background: url('images/red-leaves.png') -15% 25% no-repeat, url('images/blue-push-pin-50.png') 50% 0% no-repeat, #efd9bf;
      background-size: 150px, 50px;
      margin-left: 15px;
      & p {
        margin-left: 70px;
      }
    }
    @include breakpoint(medium) {
      p {
        @include font-size($font-size-medium);
        line-height: 1.5rem;
      }
      transform: rotate(-3deg);
    }
}
//"Benefits"ticket--white ticket with barcode and gold line  
.benefits {
    @include center(100%, 180px);
    @include margin-padding(0 0 20px 25px, 20px);
    @include box-shadow;
    height: 445px;
    background: url('images/barcode_horizontal_2nd.png') 42% 98% no-repeat, url('images/blue-push-pin-50.png') 64% 0% no-repeat, #ffffff;
    background-size: 196px, 50px;
    transform: rotate(2deg);
    & h3 {
      text-align: center;
      @include breakpoint (small) {
        margin: 0px 0px 5px 20px;
        text-align: left;
      }
    }
    & p {
      @include font-size($font-size-small);
      line-height: 1.2rem;
      padding: 5px 20px 1em 20px;
      border-bottom: 8px solid $color-7;
      @include breakpoint (small) {
      line-height: 1.2rem;
      padding-right: 120px;
      padding-top: 0;
      border-bottom: none;
      }
    }
    @include breakpoint(small) {
      @include center(100%);
      max-width: 600px;
      height: auto;
      grid-column: 1 / span 2;
      margin: 10px auto;
      background: url('images/barcode.png') 105% 45% no-repeat, url('images/blue-push-pin-50.png') 50% 0% no-repeat, #ffffff;
      background-size: 130px, 50px;
      
    }
    @include breakpoint(medium) {
      grid-column: 2 / 3;
      margin: 250px -20px;
      max-width: 700px;
      max-height: 200px;
    }
    
}
//"Requirements"paper--white paper with brown text and checkmark 
.requirements {
    padding: 30px 20px 30px 50px;
    @include center(80%);
    @include box-shadow;
    @include pin;
    & h3 {
      margin-bottom: 10px;
      text-transform: uppercase;
    }
    & p {
      @include font-size($font-size-small);
    }
    & p:nth-of-type(1) {
      border-top: 15px solid $color-2;
      padding-top: 15px;
    }
    & role {
      background-color: $color-2;
    }
    @include breakpoint(small) {
      grid-column: 1 / span 2;
      max-width: 600px;
      margin: 20px auto;
    }
    @include breakpoint(medium) {
      grid-column: 1 / 2;
    }
}
//bottom dark brown band with website/author information in white text 
p[role=contentinfo] {
    position: absolute;
    bottom: -150px;
    left: 0px;
    background-color: #382519;
    color: #ffffff;
    max-width: 100%;
    text-align: right;
    padding: 75px 5% 75px 15%;
    @include font-size($font-size-small);
    & a {
      color: $color-6;
    }
    @include breakpoint(small) {
      bottom: -120px;
      padding: 75px 5% 75px 55%;
    }
}