//sidebar (aside) section including Design Selection, Design Archives, and Zen Resources

.sidebar .wrapper {
  font: 1.2rem verdana, $primary-font;
}

.sidebar li a:visited {
  color: $color-5;
}

//"Archives"links card--cream card with brown text at top right of screen
.design-archives {
  @include box-shadow;
  @include margin-padding(0 auto, 15px);
  @include pin;
  background-color: $color-3;
  font-size: $font-size-small;
  font-family: $secondary-font;
  font-weight: normal;
  position: absolute;
  left: 20px;
  top: -15px;
  max-width: 150px;
  transform: rotate(-2deg);

  & h3 {
    font-family: $primary-font;
    margin: 35px 0 5px 0;
  }

  & ul {
    @include margin-padding(0, 0);
    grid-column: 1 / 3;
  }

  &:hover {
    animation: hover_flutter2 1s ease;
  }

  @include breakpoint(small) {
    left: 70%;
    top: -50px;
  }

  @include breakpoint (medium) {
    right: 50px;
    top: -100px;
  }
}

// 8 cream colored notes with dark brown text--one per site/creator (8 notes, one title card) 
.design-selection {
  @include center(100%);

  & h3 {
    @include box-shadow;
    @include center(250px);
    @include pin;
    background-color: $color-3;
    font-family: $cursive-font;
    font-size: $font-size-extra-large;
    padding: 55px 10px;
    text-transform: capitalize;
    text-align: center;
  }

  & li {
    @include box-shadow;
    @include center(70%);
    @include margin-padding(10px, 45px 15px 20px 15px);
    background-color: $color-3;
    display: flex;
    font-size: 0.8rem;
    flex-flow: column nowrap;
    justify-content: center;
    text-align: center;
    transition: 0.5s;

    @include breakpoint(small) {
      & h3 {
        @include margin-padding(40px 10px 0 0, 10px);
        text-align: right;
      }

      @include center(175px);
      height: 125px;
      font-size: $font-size-medium;
      padding: 50px 20px;
    }
  }

  & ul {
    @include margin-padding(20px auto, 0);
    display: grid;
    max-width: 500px;
  }

  & li:nth-child(1) {
    @include pin;
    background-size: 35px;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    transform: rotate(-3deg);
  }

  & li:nth-child(2) {
    @include pin;
    background-size: 35px;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    transform: rotate(3deg);
  }

  & li:nth-child(3) {
    @include pin;
    background-size: 35px;
    transform: rotate(2deg);
  }

  & li:nth-child(4) {
    @include pin;
    background-size: 35px;
    transform: rotate(-5deg);
  }

  & li:nth-child(5) {
    @include pin;
    background-size: 35px;
    transform: rotate(3deg);
  }

  & li:nth-child(6) {
    @include pin;
    background-size: 35px;
  }

  & li:nth-child(7) {
    transform: rotate(-3deg);
    @include pin;
    background-size: 35px;
  }

  & li:nth-child(8) {
    @include pin;
    background-size: 35px;
    transform: rotate(2deg);
  }

  & li a:nth-child(2) {
    font-weight: normal;
  }

  & li:hover {
    transform: scale(1.2);
  }

  & li a:link {
    color: $color-2;
  }

  @include breakpoint(medium) {
    @include center(80%);
    bottom: 10%;
    font-size: $font-size-small;
    left: 35%;
    position: absolute;
    transform: translateY(100px);

    p {
      font-size: $font-size-medium;
      line-height: 1.5rem;
    }

    ul {
      @include center(60%);
    }
  }
}

//"Resources" ribbon--Pink ribbon with white text and green floral image
.zen-resources {
  @include box-shadow;
  background: url('images/blue-leaves.png') 75% 120% no-repeat, url('images/pin.svg') 50% 0% no-repeat, #ffffff;
  background-color: $color-4;
  background-size: 150px, 40px;
  margin: auto;
  max-width: 200px;
  padding: 20px 20px 200px 20px;
  position: relative;
  top: 0px;
  transform: rotate(-2deg);

  &:before {
    border-right: 140px solid transparent;
    border-top: 75px solid $color-4;
    bottom: 0;
    content: "";
    filter: drop-shadow(5px 10px 5px rgba(0, 0, 0, 0.5));
    height: 0;
    left: 0;
    margin-bottom: -71px;
    position: absolute;
    width: 0;
  }

  &:after {
    border-left: 140px solid transparent;
    border-top: 75px solid $color-4;
    bottom: 0;
    content: "";
    filter: drop-shadow(5px 10px 5px rgba(0, 0, 0, 0.5));
    height: 0;
    margin-bottom: -71px;
    position: absolute;
    right: 0;
    width: 0;
  }

  & a {
    font-family: $secondary-font;
    font-weight: 100;
  }

  & h3 {
    color: $color-6;
    font-family: $cursive-font;
    font-size: $font-size-extra-large;
    margin: 25px 0 5px 0;
    text-transform: capitalize;
  }

  & li {
    font-size: $font-size-mid;
    line-height: 1.4rem;

    a:hover {
      color: $color-3;
    }

    a:link {
      color: $color-6;
      font-weight: normal;
    }
  }

  & ul {
    @include margin-padding(0, 0);
  }

  @include breakpoint(small) {
    left: 50px;
    margin: 0;
    top: 15px;

  }

  @include breakpoint(medium) {
    left: 100px;
    margin-top: -50px;
    z-index: 1;
  }
}