/* SCSS variables */
/* Colors */
$color-1: #b8c8cc; // Blue background
$color-2: #382519; // Dark Brown
$color-3: #efd9bf; // cream
$color-4: #ec637d; // dark pink
$color-5: #4b5548; // green
$color-6: #ffffff; // white
$color-7: #f2b975; // orange
$color-8: #ede3da; // light-cream

/* Pin image */
$pin: url('images/pin.svg');
@keyframes pushpin {
    0% {background-position-y: 4px;}
    50% {background-position-y: 5px;}
    75% {background-size: 33px;}
    100% {background-position-y: 5px;}
}

/* Fonts */
$secondary-font: Lora,
Georgia,
serif;
$primary-font: 'Source Sans Pro',
Arial,
sans-serif;
$font-size-small: 0.9rem;
$font-size-mid: 1.1em;
$font-size-medium: 1.2rem;
$font-size-large: 1.4rem;
/* Media Breaks */
$break-xsmall: 35.9em;
$break-small: 45em;
$break-medium: 53.125em;
$break-large: 75.1em;

