h3 {
	font-weight: bold;
	text-transform: uppercase;
	margin: 1em 0;

	@include MQ(S) {
		font-size: 1.5rem;
	}
}
<div class="cd-box">
<h3>Group members:</h3>
<p> Marilee Austin, Breanna Hansen, Dixie Cravens</p>
<h3>Theme:</h3>
<p>Bulletin board styled message page for announcements or upcoming activities. An example use would be a Ward Relief Society page. With a few stylistic changes, like color and accent images, the same design could serve for any organization, even a professional one. This one will be targeted to adult women in the Church.
</p>
<h3>Incorporation:</h3>
<p> Distinct areas or “notes” for each announcement allows a viewer to quickly take in seperate pieces of information. Several differently-styled fonts will be used to add interest to the page. Accent images, such as ﬂowers, will be placed throughout the page to keep the eye moving as well as to promote a feel and theme. The color palette is feminine, with brown and blue being the main colors, and pink and cream being accent colors.</p>
<h3>Animation:</h3>
<p>We would like to animate one or several of the pushpins. We are also considering animating a note to curl, or maybe animating a note shadow as a way to encourage viewers to look at the entire page. An animation (such as a pushpin or note shadow) could be used to distinguish new content on a live site.
</p>
<h3>Shapes/SVG:</h3>
<p>The options for creating shapes would include the pushpin, the banner, the ribbon, and possibly some of the accent imagery.</p>
</div>
</section>