/*@mixin linkstate() {
    a:link {
        font-weight: bold;
        text-decoration: none;
        color: $color-2;
    }
    a:visited {
        font-weight: bold;
        text-decoration: none;
        color: $color-6;
    }
    a:hover {
        color: lighten($color-2, 40%);
    }
    a:active {
        font-weight: bold;
        text-decoration: none;
        color: $color-6;
    }
}*/

.cd-primary-nav  {
    
    li:nth-child(1) a {
       // @include linkstate();
       font-weight: bold;
        color: $color-2;//link color
        }
    
    li:nth-child(2) a {
        color: $color-6;//visited color
    }
    li:nth-child(3) a {
        color: lighten($color-2, 40%);//hover color
    }
    li:nth-child(4) a {
        color: $color-6;//active color
    }
}
.cd-secondary-nav ul {
    li:nth-child(1) a {
        color: $color-1;//link color
    }
    li:nth-child(2) a {
        color: $color-6;//visited color
    }
    li:nth-child(3) a {
        color: lighten($color-1, 40%);//hover color
    }
    li:nth-child(4) a {
        color: $color-6;//active color
    } 
}
.cd-other-nav ul {
    li:nth-child(1) a {
        color: $color-2;//link color
    }
    li:nth-child(2) a {
        color: $color-6;//visited color
    }
    li:nth-child(3) a {
        color: lighten($color-2, 40%);//hover color
    }
    li:nth-child(4) a {
        color: $color-6;//active color
    } 
}