@mixin linkstate() {
    a:link {
        color: $color-2;
    }
    a:visited {
        color: $color-6;
    }
    a:hover {
        color: lighten($color-2, 40%);
    }
    a:active {
        color: $color-6;
    }
}

.cd-navigation ul {
    
    li:nth-child(1) {
        @include linkstate();
        color: $color-2;//link color
    }
    li:nth-child(2) {
        color: $color-6;//visited color
    }
    li:nth-child(3) {
        color: lighten($color-2, 40%);//hover color
    }
    li:nth-child(4) {
        color: $color-6;//active color
    }
}
.cd-secondary-nav {
    li:nth-child(1) {
        color: $color-1;//link color
    }
    li:nth-child(2) {
        color: $color-6;//visited color
    }
    li:nth-child(3) {
        color: lighten($color-1, 40%);//hover color
    }
    li:nth-child(4) {
        color: $color-6;//active color
    } 
}
.cd-other-nav {
    li:nth-child(1) {
        color: $color-2;//link color
    }
    li:nth-child(2) {
        color: $color-6;//visited color
    }
    li:nth-child(3) {
        color: lighten($color-2, 40%);//hover color
    }
    li:nth-child(4) {
        color: $color-6;//active color
    } 
}